<h2 class="page-header text-center">登録情報編集</h2><br>
  <div class="row-center">
    <div class="col-md-12">
      <%= link_to "提案する", %>
    </div>
  </div>
  <div class="row center">
    <div class="col-md-12">
      <div class= "form-group">
        <%= form_with model: [@job], local: true do |f| %>
      </div>
      <div class= "form-group">
          <%= f.label :"職種:" %>
          <%= f.text_field :name %>
      </div>
      <div class= "form-group">
          <%= f.label :"金額:" %>
          <%= f.text_field :amount %>
      </div>
      <div class= 'text-center'>
        <%= f.submit '更新', class:"btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>